body {
  font-family: Arial, sans-serif;
  background: #e1e1e1;
  background-image: url("../../assets/img/ELLE_justLogo.png");
  background-size: auto;
  background-position: bottom;
  opacity: 0.9;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.containerbody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff94;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.255);
}

.aboutUs {
  font-family: "Rubik", sans-serif;
  background-color: #f4f4f4;
  padding: 45px 45px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 45px auto;
  width: 80%;
}

.location {
  font-weight: bold !important;
  font-size: 22px !important;
  justify-self: anchor-center !important;
}

.acordeon {
  width: 80%;
  margin: 50px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
  border-radius: 15px;
}

.menu-horizontal {
  list-style: none;
  padding: 0;
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: flex-end;
}

.menu-horizontal li {
  display: inline-block;
}

.menu-horizontal li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f43c;
  margin-right: 5px;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  text-align: center;
  align-content: center;
}

.menu-horizontal li a:hover {
  color: #08e200;
  background-color: #f3ffb9b8;
}

.divheader {
  text-align: center;
  color: #777;
  height: 20px;
}

.divfooter {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-top: 20px;
  height: 20px;
}

.titulo {
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.titulo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: background-color 0.4s ease;
}

.titulo span {
  position: relative;
  z-index: 2;
}

.titulo:hover::before,
.titulo.activo::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.titulo:hover,
.titulo.activo {
  filter: brightness(0.9);
  transform: scale(1.01);
}

.titulo span {
  padding: 18px;
  display: block;
}

.contact {
  width: 80%;
  margin: 50px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
  border-radius: 15px;
  display: flex;
}

.contact-items {
  width: 40%;
  height: auto;
}

.contact-items h2 {
  text-align: left;
  margin-left: 15px;
}

.contactMe {
  width: 80%;
  margin: 50px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
  border-radius: 15px;
  place-items: center;
}

.form-container {
  height: 50%;
  width: 50%;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  display: grid;
  width: 100%;
}

.form-group .form-label {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: center;
  width: 40%;
  /* El tamaño del label será del 40% del ancho */
}

.form-group .form-input input,
.form-group .form-input textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: none;
  /* Evita que el textarea sea redimensionable */
  overflow: auto;
  /* Permite el scroll si el contenido excede el tamaño */
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-sent {
  background-color: #7000ba;
  /* Cambia el color de fondo al enviar */
  margin-top: 10px;
}

.more-info {
  background-color: #008cba;
  /* Cambia el color de fondo al enviar */
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #45a049;
}

.more-info:hover {
  background-color: #45a049;
}

.reviewsDisplay {
  width: 80%;
  margin: 50px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
  border-radius: 15px;
  place-items: center;
}

.header-row {
  width: 95vw;
  min-width: 95%;
  display: flex;
  justify-content: right;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.review {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  width: 250px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.caption {
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
}

.col-sm-12 .d-flex {
  display: flex;
  flex-wrap: wrap;
}

.menu-header{
    margin-right: 15px;
}

@media (min-width: 0px) and (max-width: 700px) {
  .menu-header {
    justify-items: center;
    margin-right: 0px;
  }

  .menu-horizontal {
    flex-direction: column;
  }

  .menu-horizontal li {
    margin-bottom: 15px;
  }

  .menu-horizontal li a {
    width: 220px;
    height: 40px;
    font-size: 24px;
  }

  .aboutUs,
  .acordeon,
  .contact,
  .contactMe,
  .reviewsDisplay {
    width: 90%;
    padding: 20px;
    margin: 30px auto;
  }

  .form-container {
    width: 100%;
    height: auto;
  }

  .form-group .form-label {
    width: 100%;
    margin-bottom: 8px;
  }

  .contact {
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 15px;
    display: flex;
  }

  .contact-items {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery-item {
    width: 100%;
    max-width: 200px;
  }

  .containerbody {
    width: 100vw;
  }

  p {
    font-size: 14px;
  }

  .d-flex {
    flex-direction: column;
  }

  .header-row {
    width: 100vw;
    min-width: 99%;
    display: flex;
    justify-content: center;
  }
  .wrapper .wrapper-content .animated .fadeIn {
    justify-self: anchor-center;
    width: 90%;
  }
}
