body {
    font-family: Arial, sans-serif;
    background: #e1e1e1;
    background-image: url('../../assets/img/ELLE_justLogo.png');
    background-size: auto;
    background-position: bottom;
    opacity: 0.9;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff94;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.255);
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.aboutUs {
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f4;
    padding: 45px 45px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 45px auto;
    width: 80%;
}

h1 {
    text-align: center;
    /* display: block; Redundante, ya que los elementos <h1> son block por defecto */
    font-size: 2em;
    margin-block-start: -0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    unicode-bidi: isolate;
    align-content: center;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    margin-block-start: -0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    unicode-bidi: isolate;
}

p{ 
    font-size: 20px;
    text-align: justify;
    margin: 15px 0;
}

.location {
    font-weight: bold !important;
    font-size: 22px !important;
    justify-self: anchor-center !important;
}

.acordeon {
    width: 80%;
    margin: 50px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
    border-radius: 15px;
}

.acordeon .contenedor {
    position: relative;
    margin: 10px 10px;
    transition: all 0.3s ease;
}

.acordeon .etiqueta {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.acordeon .sub-etiqueta {
    position: relative;
    padding: 10px 0;
    font-size: 25px;
    color: black;
    cursor: pointer;
    justify-self: center;
}

.acordeon .etiqueta::before {
    content: "+";
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.acordeon .contenido {
    position: relative;
    background: white;
    text-align: justify;
    max-height: 0; /* Inicialmente colapsado */
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Transición suave */
}

.acordeon .sub-contenido{
    position: relative;
    background: white;
    text-align: justify;
    max-height: 0; /* Inicialmente colapsado */
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Transición suave */
}



.acordeon .contenedor.activa .contenido{
    padding: 10px;
    background-color: #f9f9f9; /* Fondo claro para diferenciarlo */
    border-left: 3px solid #ccc; /* Línea para destacar el sub-contenido */
    margin: 10px 0; /* Espaciado entre sub-contenidos */
    font-size: 18px; /* Tamaño de fuente ligeramente más pequeño */
    border-radius: 5px; /* Bordes redondeados */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el tamaño */
    max-height: 300px; /* Establece una altura máxima para el área desplazable */
}

.acordeon .contenedor.activa .sub-contenido{
    padding: 10px;
    background-color: #f9f9f9; /* Fondo claro para diferenciarlo */
    margin: 10px 0; /* Espaciado entre sub-contenidos */
    font-size: 18px; /* Tamaño de fuente ligeramente más pequeño */
    border-radius: 5px; /* Bordes redondeados */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el tamaño */
    max-height: 600px; /* Altura máxima al expandir */
    transition: max-height 0.5s ease; /* Transición suave para retraer y expandir */
}

.acordeon .contenedor .sub-contenido {
    max-height: 0; /* Inicialmente colapsado */
    transition: max-height 0.5s ease; /* Transición suave para retraer y expandir */
}
 
.acordeon hr {
    width: 100%; /* Falta unidad (por ejemplo, px o %) */
    margin-left: 0;
    border: 1px solid grey;
}

.acordeon .contenedor.activa .contenido {
    max-height: 500px; /* Altura máxima al expandir (ajusta según tu contenido) */
    /* width: 100%; Redundante, ya que el contenedor padre ya establece el ancho */
    /* transform: scale(1); Redundante, ya que scale(1) no tiene efecto visible */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */
    gap: 20px;
}

.acordeon .contenedor.activa .etiqueta::before {
    content: "-";
    font-size: 30px;
}

.acordeon .contenedor .imagen,
.acordeon .contenedor .texto {
    opacity: 0; /* Ocultar inicialmente */
    transform: scale(0.5); /* Reducir ligeramente el tamaño al estar oculto */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave para opacidad y escala */
}

.text{
    padding-right: 20px;
}

.imagen img {
    width: 100%;
    height: auto;
}

.acordeon .contenedor.activa .imagen,
.acordeon .contenedor.activa .texto {
    opacity: 1; /* Mostrar al activar el contenedor */
    transform: scale(1); /* Restaurar el tamaño original */
    align-content: center;
}

.menu-horizontal {
    list-style: none;
    padding: 0;
    margin: 10px 10px 10px 0;
    display: flex;
    justify-content: flex-end;
}

.menu-horizontal li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f43c;
    margin-right: 5px;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    text-align: center;
    align-content: center;
}

.menu-horizontal li a:hover {
    color: #08e200;
    background-color: #f3ffb9b8;
}

.divheader {
    text-align: center;
    color: #777;
    height: 20px;
}

.divfooter {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
    height: 20px;
}

.titulo {
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.titulo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: background-color 0.4s ease;
}

.titulo span {
    position: relative;
    z-index: 2;
}

.titulo:hover::before,
.titulo.activo::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.titulo:hover,
.titulo.activo {
    filter: brightness(0.9);
    transform: scale(1.01);
}

.titulo span {
    padding: 18px;
    display: block;
}


.contact {
    width: 80%;
    margin: 50px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
    border-radius: 15px;
    display: flex

}

.contact-items {
    width: 40%;
    height: auto;
}

.contact-items h2{
    text-align: left;
    margin-left: 15px;
}

.contactMe{
    width: 80%;
    margin: 50px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
    border-radius: 15px;
    place-items: center;
}


.form-container{
    height: 50%;
    width: 50%;
    align-items: center;
}

.form-group{
    margin-bottom: 15px;
    display: grid;
    width: 100%;
}

.form-group .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    align-self: center;
    width: 40%; /* El tamaño del label será del 40% del ancho */
}

.form-group .form-input input,
.form-group .form-input textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none; /* Evita que el textarea sea redimensionable */
    overflow: auto; /* Permite el scroll si el contenido excede el tamaño */
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-sent{
    background-color: #7000ba; /* Cambia el color de fondo al enviar */
    margin-top: 10px;
}

.more-info{
    background-color: #008CBA; /* Cambia el color de fondo al enviar */
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

.more-info:hover {
    background-color: #45a049;
}


.reviewsDisplay{
    width: 80%;
    margin: 50px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
    border-radius: 15px;
    place-items: center;
}

.header-row {
    width: 100vw;
    min-width: 100%;
    display: flex;
    justify-content: right;
}