<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELLE Janitorial Services : Reviews</title>
      <link rel="icon" type="image/png" href="../assets/img/ELLE_justLogo.png" />
      <link rel="stylesheet" href="../private/css/style_inspina.css" />
      <link rel="stylesheet" href="../private/css/style.css" />

</head>
<body>
    <div class="containerbody">
        <div id="header-container" class="menu-header" class="header-row"></div>
        <div class="body">
            <div class="gallery" id="gallery"></div>
            <!-- Modal Structure -->
            <div id="imageModal" style="display:none; position:fixed; z-index:1000; left:0; top:0; width:100vw; height:100vh; background:rgba(0,0,0,0.7); align-items:center; justify-content:center; flex-direction:column;">
                <span id="closeModal" style="position:absolute; top:30px; right:50px; font-size:2rem; color:#fff; cursor:pointer;">&times;</span>
                <img id="modalImg" src="" alt="Imagen ampliada" style="max-width:90vw; max-height:80vh; border-radius:10px; box-shadow:0 0 20px #000;">
                <div id="modalCaption" style="color:#fff; text-align:center; margin-top:10px; font-size:1.2rem;"></div>
            </div>
        </div>
        <div id="footer-container" class="divfooter"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://kit.fontawesome.com/f352c3a994.js" crossorigin="anonymous"></script>
<script src="../private/js/galery.js"></script>
<script src="../private/js/views.js"></script>

</html>