<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ELLE Janitorial Services</title>
    <link rel="icon" type="image/png" href="../assets/img/ELLE_justLogo.png" />
    <link rel="stylesheet" href="../private/css/style.css" />
  </head>
  <body>
    <div class="container">
      <a href="../index.html" class="btn more-info">Back to Home</a>
      <div class="body">
        <div class="acordeon-cuerpo">
          <div class="acordeon">
            <h1>Welcome Services</h1>
            <div class="contenedor">
              <div class="etiqueta">Shopping Services</div>
              <div class="contenido">
                <div class="imagen">
                  <img
                    src="../assets/img/shoppingService.jpg"
                    alt="Shopping Services"
                  />
                </div>
                <div class="texto">
                  <p>
                    Our Shopping Services are designed to make your life easier
                    by taking care of your grocery and personal shopping needs.
                    Whether you're busy with work, family, or other commitments,
                    our team is here to help.
                  </p>
                  <p>
                    We offer a range of shopping services, including grocery
                    shopping, gift shopping, and more. Simply provide us with
                    your shopping list, and we'll take care of the rest. Our
                    team is dedicated to finding the best products at the best
                    prices, ensuring that you get exactly what you need.
                  </p>
                  <p>
                    With ELLE Janitorial Services' Shopping Services, you can
                    enjoy the convenience of having your shopping done for you,
                    allowing you to focus on what matters most.
                  </p>
                  <p>
                    Contact us today to learn more about our Shopping Services
                    and how we can assist you.
                  </p>
                </div>
                <button
                  style="width: 50%"
                  class="btn"
                  onclick="document.querySelector('.contactMe').scrollIntoView({ behavior: 'smooth' });"
                >
                  Contact Us
                </button>
              </div>
            </div>
            <div class="contenedor">
              <div class="etiqueta">Laundry Services</div>
              <div class="contenido">
                <div class="imagen">
                  <img
                    src="../assets/img/laundryService.jpg"
                    alt="Laundry Services"
                  />
                </div>
                <div class="texto">
                  <p>
                    Our Laundry Services are designed to take the hassle out of
                    laundry day. We offer a range of laundry options, including
                    wash and fold, dry cleaning, and ironing services.
                  </p>
                  <p>
                    Simply schedule a pickup time that works for you, and our
                    team will handle the rest. We use high-quality detergents
                    and equipment to ensure that your clothes are cleaned to
                    perfection.
                  </p>
                  <p>
                    With ELLE Janitorial Services' Laundry Services, you can
                    enjoy the convenience of having your laundry done for you,
                    allowing you to focus on what matters most.
                  </p>
                  <p>
                    Contact us today to learn more about our Laundry Services
                    and how we can assist you.
                  </p>
                </div>
                <button
                  style="width: 50%"
                  class="btn"
                  onclick="document.querySelector('.contactMe').scrollIntoView({ behavior: 'smooth' });"
                >
                  Contact Us
                </button>
              </div>
            </div>
            <div class="contenedor">
              <div class="etiqueta">Luggage Handling Services</div>
              <div class="contenido">
                <div class="imagen">
                  <img
                    src="../assets/img/luggageService.jpg"
                    alt="Luggage Handling Services"
                  />
                </div>
                <div class="texto">
                  <p>
                    Our Luggage Handling Services are designed to make your
                    travel experience smoother and more enjoyable. We understand
                    that managing luggage can be a hassle, especially during
                    busy travel times.
                  </p>
                  <p>
                    With our professional team by your side, you can rest
                    assured that your luggage will be handled with care. We
                    offer services such as luggage pickup and delivery, storage
                    solutions, and more.
                  </p>
                  <p>
                    Whether you're arriving at your destination or departing for
                    a trip, our Luggage Handling Services are here to assist you
                    every step of the way.
                  </p>
                  <p>
                    Contact us today to learn more about our Luggage Handling
                    Services and how we can make your travel experience more
                    convenient.
                  </p>
                </div>
                <button
                  style="width: 50%"
                  class="btn"
                  onclick="document.querySelector('.contactMe').scrollIntoView({ behavior: 'smooth' });"
                >
                  Contact Us
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="contact">
          <h1>Our Contact</h1>
          <hr />
          <div class="contact-items">
            <h2>Leonardo Medina</h2>
            <h3><i class="fa-solid fa-phone"></i> 615-948-0795</h3>
            <h3><i class="fa-solid fa-inbox"></i> leonardo@ellejs.com</h3>
          </div>
          <div class="contact-items">
            <h2>Elviss Medina</h2>
            <h3><i class="fa-solid fa-phone"></i> 615-948-3981</h3>
            <h3><i class="fa-solid fa-inbox"></i> elviss@ellejs.com</h3>
          </div>
        </div>
        <div class="contactMe">
          <form
            action="POST"
            accion="./private/controller/php/cantact.php"
            class="form-container"
          >
            <h1>Contact Me</h1>
            <hr />
            <div class="form-group">
              <label class="form-label" for="name"
                ><i class="fa-solid fa-user"></i> Name:</label
              >
              <div class="form-input">
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Your Name"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="email"
                ><i class="fa-solid fa-envelope"></i> Email:</label
              >
              <div class="form-input">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="message"
                ><i class="fa-solid fa-message"></i> Message:</label
              >
              <div class="form-input">
                <textarea
                  id="message"
                  name="message"
                  placeholder="Your Message"
                  required
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sent">
                <i class="fa-solid fa-paper-plane"></i> Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script
    src="https://kit.fontawesome.com/f352c3a994.js"
    crossorigin="anonymous"
  ></script>
  <script src="../private/js/index.js"></script>
</html>
